button {
	color: white;
	border: none;
	border-radius: 7px;
	padding: 0.5rem 1rem;
	font-size: 15px;
	cursor: pointer;
}

button:disabled {
	cursor: auto;
}

button[variant='primary'] {
	color: #0d1318;

	&[color='default'] {
		background-color: #e0ff8b;
	}

	&[color='alert'] {
		background-color: #ffa58b;
	}
}

button[variant='primary']:hover {
	&[color='default'] {
		background-color: #c4e66f;
	}

	&[color='alert'] {
		background-color: #ef9074;
	}
}

button[variant='primary']:disabled {
	&[color='default'] {
		background-color: #606a43;
	}

	&[color='alert'] {
		background-color: #6a4f43;
	}
}

button[variant='secondary'] {
	&[color='default'] {
		background: #252b20;
		color: #eaffb1;
	}

	&[color='alert'] {
		background: #2b2320;
		color: #ffc8b1;
	}
}

button[variant='secondary']:hover {
	&[color='default'] {
		background: #23281e;
	}

	&[color='alert'] {
		background: #28211e;
	}
}

button[variant='secondary']:disabled {
	&[color='default'] {
		background: #1d221d;
		color: #7f8d68;
	}

	&[color='alert'] {
		background: #221f1d;
		color: #8d7268;
	}
}

button[variant='text'] {
	background: none;
	text-decoration: underline;
	padding: 0.5rem;

	&[color='default'] {
		color: #e0ff8b;
	}

	&[color='alert'] {
		color: #ffa58b;
	}
}

button[variant='text']:disabled {
	&[color='default'] {
		color: #929d73;
	}

	&[color='alert'] {
		color: #9d8173;
	}
}
