:root {
	--font-family: 'Lato', serif;
	--color-background-primary: #0d1318;
	--color-background-secondary: #10161c;
	--color-text-primary: #cbcbd4;
	--color-text-secondary: #aaaab3;
	--color-title: #e4e4ee;
	--color-accent: #e0ff8b;
	--color-highlight: #1e262b;
	color-scheme: dark;
}
